name: 'Node Exporter Actions: Push'
on:
  - push
jobs:
  linting:
    name: 'Linting'
    runs-on: ubuntu-18.04
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: 'Linting'
        uses: daytonpa/cookbook-actions@master
        with:
          chef_actions_subcommand: 'lint'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          